{% extends 'base.html' %}

{% block titulo %}Página Inicial {% endblock %}
{% block conteudo %}
<div class="row">
    <h1 class="col-sm-12 text-center">Bem-Vindo!!!</h1>
    <div class="col-sm-6">
        <h4>Categorias</h4>
        <a href="{% url 'addCategoria' %}" class="btn btn-primary btn-block">Cadastrar Categoria</a>
        <a href="{% url 'listarCategorias' %}" class="btn btn-success btn-block">Listar Categorias</a>
    </div>
    <div class="col-sm-6">
        <h4>Produtos</h4>
        <a href="{% url 'addProduto' %}" class="btn btn-primary btn-block">Cadastrar Produto</a>
        <a href="{% url 'listarProdutos' %}" class="btn btn-success btn-block">Listar Produtos</a>
    </div>
</div>
{% endblock %}